* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}


.topnav {
    background-color: #333;
    overflow: hidden;
  }
  

  .topnav h1 {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 250px;
    font-size: 17px;
  }

.header {
    padding: 60px 250px;
    background: rgb(29, 112, 184);
    color: white;
    font-size: 30px;
  }

  .content {
    padding: 60px 250px;
    color: black;
    font-size: 17px;
  }

  .content p {
    padding: 20px 0px;
  }

  table {
    border-collapse: collapse;
    width: 100%;
	vertical-align: middle;
  }
  
  th, td {
    border: 1px solid black;
    padding: 8px;
  }
  

  thead {
    background-color: rgb(29, 112, 184);
    color: white;
  }

  tbody tr:nth-child(odd) {
    background-color: #fff;
  }

  tbody tr:nth-child(even) {
    background-color: #eee;
  }

  .code {
    font-family: monospace;
    background-color: darkgrey;
  }
